<html>
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/itemlist.css">
    <link rel="stylesheet" href="css/sidebar.css">
    <link rel="stylesheet" href="css/slider.css">

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
    <script src="https://unpkg.com/vue"></script>

    <script src="js/components.js"></script>
    <script src="js/config.js"></script>
    <script src="js/gamedata.js"></script>
    <script src="js/main.js"></script>
    <script src="js/style.js"></script>
    <script src="js/utils.js"></script>

    <title>poe.gg FilterCloud</title>
</head>
<body onload="FilterCloud.init();">
<div class="root">
<div class="page-root" id="page-root">
    <div class="header">
        <div class="bar">
            <div class="left"></div>
            <div class="right"></div>
        </div>
        <div class="title">
            <span @click="currentPage = null">FilterCloud</span>
        </div>
    </div>
    <div class="page clearfix" id="page" v-cloak>
        <div class="sidebar">
            <div class="sidebar-box">
                <p class="download-button" @click="downloadFilter">Download</p>
                <sidebarLink :current-page.sync="currentPage" page="Style Editor"></sidebarLink>
                <hr>
                <sidebarLink
                   v-for="page in ['Endgame Rares']" :key="page"
                   :current-page.sync="currentPage" :page="page"></sidebarLink>
                <hr>
                <sidebarLink
                   v-for="page in ['Crafting', 'Currency', 'Uniques', 'Divination Cards', 'Skill Gems', 'Sockets', 'Flasks', 'Jewels', 'Maps', 'Map Fragments']"
                   :key="page" :current-page.sync="currentPage" :page="page"></sidebarLink>
            </div>
        </div>
        <div class="content">
            <div id="faq-page" v-show="currentPage === null">
                <h1>What is FilterCloud?</h1>

                <h2>A Clean, Tasteful and Powerful Loot Filter</h2>
                <p>The default FilterCloud style is designed to be close to the vanilla color scheme, in line with the
                dark and gritty theme of the game. No candy land rainbow puke.</p>
                <p>It shows only items worth picking up, and uses a large font to reduce the time wasted by mis-clicks.
                Keep up your clearspeed, stay ahead of the game.</p>

                <h2>Customizable Style and Behaviour</h2>
                <p>A powerful style editor lets you customize the color scheme how you like it best. And you can also
                customize the behaviour of the filter wherever it makes sense, defining your own thresholds and fitting
                it perfectly to your playstyle.</p>

                <h2>Access Your Loot Filter From Anywhere</h2>
                <p>Login with your Facebook or Google account, and take your filter wherever you go. Playing at a
                    friend's pc? Use your personal filter. Playing a quick after-work session at the office? Use your
                    personal filter. No need to save it to Google docs or Pastebin whenever you change something.
                    FilterCloud is always with you.
                </p>

                <h2>Highlighting Based on Market Value</h2>
                <p>Never miss a change in the meta, because FilterCloud highlights currency, uniques and divination
                    cards based on their actual current market value. So if Mathil starts playing that Pledge of Hands build,
                    you will see them highlighted while the rest of the world is still waiting for Neversink to release a
                    new filter version.</p>

                <h2>Configure Leveling Rules Specifically For Your Build</h2>
                <p>Hand-craft a leveling filter that shows exactly the items and sockets you need for leveling.
                    The race to endgame has never been easier!</p>
            </div>

            <div id="style-page" v-show="currentPage === 'Style'">
                <h1>Style Editor</h1>
                <h2>Coming Soon</h2>
            </div>

            <div v-show="currentPage === 'Endgame Rares'">
                <h1>Endgame Rares</h1>
                <p class="explanation">
                    When mapping, you want to stay in the flow and maintain your clearspeed. You don't want to stop
                    and identify items or even take a trip back to your hideout and sort your inventory. Sure, sometimes
                    you have really lucky drops and it can't be avoided, but most of the time, you want to pick up only
                    those items that have a high probability of being valuable.
                </p>
                <p class="explanation">
                    This filter has two tiers of rares: Highlighted rares are the base types used by currently popular
                    builds very likely to be valuable, or take up very little inventory space like jewelry. You should
                    always pick those up. Non-highlighted rares are still the best of their class, and have a decent
                    chance of being sellable, but you may skip those if you have a high quantity map.
                </p>

                <hr>

                <checkboxWithTooltip id="show_fully_linked" v-model="config.rares.endgame.show_fully_linked" label="Show Fully Linked">
                    Show all fully linked rare boots, gloves and helmets, even if their basetype would normally be hidden.
                </checkboxWithTooltip>

                <itemList title="Highlighted" :items.sync="config.rares.endgame.highlight" item-style="highlight.rare"
                          item-rarity="rare" item-class="?">
                    Rare base types that are valuable in current meta.
                    Also includes best ring/amulet bases.
                </itemList>

                <itemList title="Shown" :items.sync="config.rares.endgame.show" item-style="normal.rare"
                          item-rarity="rare" item-class="?">
                    Off-meta base types that may still be valuable.
                </itemList>
            </div>

            <div v-show="currentPage === 'Crafting'">
                <h1>Crafting</h1>
                <p>
                    Crafting only really makes sense with items that have at least ItemLevel 84 or more, to ensure that
                    the highest tier of affixes can roll on them. Some exceptions can be made for Atlas bases (bases
                    with very strong implicits that only drop in certain maps) and for using level-capped Essences.
                </p>

                <hr>

                <checkboxWithTooltip id="crafting_highlight_ilvl84_atlas" v-model="config.crafting.atlas.ilvl84" label="Highlight ilvl84 Atlas bases">
                    Highlight atlas bases with item level 84+. Their high implicits make them especially valuable for crafting.
                    Even if you don't want to craft, you can usually sell these as-is for a couple chaos, some even more than one exalt.
                </checkboxWithTooltip>
                <checkboxWithTooltip id="crafting_show_atlas" v-model="config.crafting.atlas.always" label="Always show Atlas bases">
                    Always show map-only base types, even at lower levels.
                </checkboxWithTooltip>
                <itemList title="Always Show" :items.sync="config.crafting.always" item-style="normal" item-rarity="normal">
                    These items are always shown, even in low level areas.
                    If you have level-capped Essences and want to use them, add the base types you're looking for here.
                </itemList>
                <itemList title="Item Level 84+" :items.sync="config.crafting.ilvl84" item-style="normal" item-rarity="normal">
                    These items are only shown if their item level is at least 84. At this item level, all possible affixes can roll on that item.
                </itemList>
                <itemList title="Chancing" :items.sync="config.crafting.chancing" item-style="normal" item-rarity="normal">
                    These items can be rolled into very valuable uniques with an Orb of Chance (and a shit ton of luck).
                    Per default, doesn't show league-specific ones like Leather Belt for Headhunter. If you have access
                    to Nemesis through Zana, you may want to add that one (or replace the others).
                </itemList>
            </div>

            <div v-show="currentPage === 'Currency'">
                <h1>Currency</h1>
                <p>
                    Generally, you want to pick up all currency items because they're small and most of them have a
                    decent value.
                </p>
                <p>
                    Low value currency like scrolls, scraps and whetstones are not worth the time picking up.
                    You're better off maintaining a high clearspeed and buying those from other players if needed.
                    It can still make sense to pick them up if a lot of them are close together, like after a Breach
                    or an Artisan's Strongbox.
                </p>

                <hr>

                <checkboxWithTooltip id="currency_use_shaper_voice" v-model="config.currency.use_shaper_voice" label="Shaper Voice">
                    Use Shaper voice pack to announce rare currency. Otherwise these will just use the sound
                    for strongly highlighted currency configured in the stylesheet.
                </checkboxWithTooltip>

                <thresholdSlider v-model="config.currency.thresholds.top_tier" title="Top Tier" op="≥"
                                 :overrides.sync="config.currency.overrides.top_tier" :prices="GameData.prices.currency"
                                 item-style="strong_highlight.currency" item-class="Currency">
                    Items worth more than this are very valuable. If you see this highlighting, it's time to get excited!
                </thresholdSlider>
                <thresholdSlider v-model="config.currency.thresholds.valuable" title="Valuable" op="≥"
                                 :overrides.sync="config.currency.overrides.valuable" :prices="GameData.prices.currency"
                                 item-style="highlight.currency" item-class="Currency">
                    Anything above this is valuable, and you should always pick them up.
                </thresholdSlider>
                <thresholdSlider v-model="config.currency.thresholds.worthless" title="Worthless" op="<"
                                 :overrides.sync="config.currency.overrides.worthless" :prices="GameData.prices.currency"
                                 item-style="smaller.currency" item-class="Currency">
                    Anything below this is usually not worth the time picking up, unless there's a lot them in one place.
                </thresholdSlider>
                <thresholdSlider v-model="config.currency.thresholds.hidden" title="Hidden" op="<"
                                 :overrides.sync="config.currency.overrides.hidden" :prices="GameData.prices.currency"
                                 item-style="hidden.currency" item-class="Currency" :hidden="true">
                    Anything below this will be hidden completely.
                </thresholdSlider>

                <thresholdItemList :prices="GameData.prices.currency" :thresholds="config.currency.thresholds"
                                   :hide-worthless="config.currency.hide_low_value"
                                   style-context="currency"
                                   :overrides="config.currency.overrides"
                                   :style-overrides="{'Mirror of Kalandra': 'ultra_rare.currency'}">
                </thresholdItemList>
            </div>

            <div v-show="currentPage === 'Divination Cards'">
                <h1>Divination Cards</h1>

                <thresholdSlider v-model="config.divcards.thresholds.top_tier" title="Top Tier" op="≥"
                                 :overrides.sync="config.divcards.overrides.top_tier" :prices="GameData.prices.divcards"
                                 item-style="strong_highlight.divcards" item-class="Divination Card">
                    Items worth more than this are very valuable. If you see this highlighting, it\'s time to get excited!
                </thresholdSlider>
                <thresholdSlider v-model="config.divcards.thresholds.valuable" title="Valuable" op="≥"
                                 :overrides.sync="config.divcards.overrides.valuable" :prices="GameData.prices.divcards"
                                 item-style="highlight.divcards" item-class="Divination Card">
                    Anything above this is valuable, and you should always pick them up.
                </thresholdSlider>
                <thresholdSlider v-model="config.divcards.thresholds.worthless" title="Worthless" op="<"
                                 :overrides.sync="config.divcards.overrides.worthless" :prices="GameData.prices.divcards"
                                 item-style="smaller.divcards" item-class="Divination Card">
                    Anything below this is usually not worth the time picking up, unless there's a lot of cards in one spot.
                </thresholdSlider>
                <thresholdSlider v-model="config.divcards.thresholds.hidden" title="Hidden" op="<"
                                 :overrides.sync="config.divcards.overrides.hidden" :prices="GameData.prices.divcards"
                                 item-style="hidden.divcards" item-class="Divination Card" :hidden="true">
                    Anything below this is will be hidden completely.
                </thresholdSlider>

                <thresholdItemList :prices="GameData.prices.divcards" :thresholds="config.divcards.thresholds"
                                   :hide-worthless="config.divcards.hide_low_value"
                                   style-context="divcard"
                                   :overrides="config.divcards.overrides"
                                   :style-overrides="{}">
                </thresholdItemList>
            </div>

            <div v-show="currentPage === 'Uniques'">
                <h1>Uniques</h1>
                <p>
                    Some base types have multiple uniques that can spawn on them. For example, there are five different
                    unique Two-Stone Rings. Since the filter only sees the base type, Berek's Respite will get the same
                    highlighting as Call of the Brotherhood, even though the former is usually worth about 400 times
                    more than the latter.
                </p>
                <p>
                    In such cases, the filter chooses highlighting based on the most valuable unique with this base type.
                    Some uniques are excluded, e.g. those that can only be obtained via Prophecies or Breachstones,
                    because they can't drop anyway.
                </p>

                <hr>

                <thresholdSlider v-model="config.uniques.thresholds.top_tier" title="Top Tier" op="≥"
                                 :overrides="config.uniques.overrides.top_tier" :prices="GameData.prices.uniques"
                                 item-style="strong_highlight.unique" item-rarity="unique">
                    Items worth more than this are very valuable. If you see this highlighting, it\'s time to get excited!
                </thresholdSlider>
                <thresholdSlider v-model="config.uniques.thresholds.valuable" title="Valuable" op="≥"
                                 :overrides="config.uniques.overrides.valuable" :prices="GameData.prices.uniques"
                                 item-style="highlight.unique" item-rarity="unique">
                    Anything above this is valuable, and you should always pick them up.
                </thresholdSlider>
                <thresholdSlider v-model="config.uniques.thresholds.worthless" title="Worthless" op="<"
                                 :overrides="config.uniques.overrides.worthless" :prices="GameData.prices.uniques"
                                 item-style="smaller.unique" item-rarity="unique">
                    Anything below this is usually not worth the time picking up, unless you're going for the 5 Uniques
                    prophecy.
                </thresholdSlider>
                <thresholdSlider v-model="config.uniques.thresholds.hidden" title="Hidden" op="<"
                                 :overrides="config.uniques.overrides.hidden" :prices="GameData.prices.uniques"
                                 item-style="hidden.unique" item-rarity="unique" :hidden="true">
                    Anything below this will be hidden completely.
                </thresholdSlider>

                <thresholdItemList :prices="GameData.prices.uniques" :thresholds="config.uniques.thresholds"
                                   :hide-worthless="config.uniques.hide_low_value"
                                   style-context="unique" item-rarity="unique"
                                   :overrides="config.uniques.overrides"
                                   :style-overrides="{}">
                </thresholdItemList>
            </div>

            <div v-show="currentPage === 'Skill Gems'">
                <h1>Skill Gems</h1>

                <linearSlider v-model="config.gems.high_quality" title="Top Tier" :min-value="0" :max-value="21" op="≥">
                    Strong highlighting for very high quality gems.
                </linearSlider>
                <linearSlider v-model="config.gems.medium_quality" title="Valuable" :min-value="0" :max-value="21" op="≥">
                    Highlighting for decently high quality gems.
                </linearSlider>
                <linearSlider v-model="config.gems.min_quality" title="Hidden" :min-value="0" :max-value="21" op="<">
                    Gems with less than this will be hidden.
                </linearSlider>

                <itemList title="High Value" :items.sync="config.gems.high_value_gems" item-style="normal" item-rarity="normal">
                    High value gems that you should pick up regardless of quality.
                </itemList>
                <itemList title="Medium Value" :items.sync="config.gems.medium_value_gems" item-style="normal" item-rarity="normal">
                    Medium value gems that you may also want to pick up regardless of quality.
                </itemList>

            </div>

            <div v-show="currentPage === 'Sockets'">
                <h1>Sockets</h1>
                <p>
                    Six-links always receive strong highlighting, five-links always receive regular highlighting.
                    These have a good potential of being valuable.
                </p>
                <p>
                    Six-socket items are shown without highlighting, these are good to vendor for 7 Jeweller's Orbs.
                </p>
                <p>
                    Corrupted items with white sockets are always shown. These are good for leveling gems in your
                    off-hand.
                </p>
            </div>

            <div v-show="currentPage === 'Flasks'">
                <h1>Flasks</h1>
                <p>
                    In endgame, your flask setup should already be optimal. Some flasks may still fetch a good price though,
                    especially with quality. You can configure the minimum quality at which to show certain flasks.
                </p>

                <linearSlider v-model="config.flasks.healing.min_quality" title="Life/Mana/Hybrid" :min-value="0" :max-value="20" op="≥">
                    Show Life/Mana/Hybrid flasks only if they have at least this much quality.
                </linearSlider>
                <linearSlider v-model="config.flasks.utility.min_quality" title="Utility" :min-value="0" :max-value="20" op="≥">
                    Show Utility Flasks only if they have at least this much quality.
                </linearSlider>
            </div>

            <div v-show="currentPage === 'Jewels'">
                <h1>Jewels</h1>
                <p>
                    Rare Jewels are very likely to be valuable. Magic jewels are usually worthless, unless both affixes
                    are sought after in the current meta and are perfectly rolled. In that case, you may want to regal
                    it and hope for the best.
                </p>
                <p>
                    You may also try to Alt/Augment magic jewels until you hit two good affixes. However this requires
                    a lot of knowledge about the current meta and which affixes are valuable / possible on a certain
                    Jewel base.
                </p>
                <p>
                    Another use for magic jewels is corrupting them and hoping for a good corrupted unique. Unless you
                    specifically go for that though, they're not worth picking up.
                </p>

                <hr>

                <checkboxWithTooltip id="jewels_show_magic" v-model="config.jewels.show_magic" label="Show Magic Jewels">
                    Show magic jewels. Only enable this very early in the league, or when you want to try and craft a
                    corrupted unique jewel.
                </checkboxWithTooltip>
            </div>

            <div v-show="currentPage === 'Maps'">
                <h1>Maps</h1>
                <p>
                    Once you've reached red maps, you no longer want to pick up white ones. That's why this filter has
                    an option to hide maps that are far below the map tier they drop in. Some yellow maps are valuable
                    and/or worth running even if you're already doing shaped Strands, so you can define exceptions from
                    this rule.
                </p>
                <p>
                    Tier 15/16 and unique maps are always highlighted.
                </p>

                <hr>

                <checkboxWithTooltip id="maps_hide_low_tier" v-model="config.maps.hide_low_tier" label="Hide Low Tier">
                    Hide white maps dropping from Tier 8 maps. Hide yellow maps dropping from red maps.
                    Tier 10 maps are always shown, and you can add your favorite maps to the exception list below.
                </checkboxWithTooltip>

                <itemList title="Always Show" :items.sync="config.maps.good_yellow" item-style="normal" item-rarity="normal,magic,rare">
                    These maps are always shown, even if they would normally be hidden based on their tier.
                </itemList>
            </div>

            <div v-show="currentPage === 'Map Fragments'">
                <h1>Map Fragments</h1>
                <p>This filter uses strong highlighting for:</p>
                <ul>
                    <li>Offering to the Godess</li>
                    <li>Mortal Hope / Ignorance</li>
                    <li>Atlas Guardian Fragments</li>
                    <li>Pale Court Keys</li>
                </ul>
                <p>And regular highlighting for:</p>
                <ul>
                    <li>Sacrifice at Midnight</li>
                    <li>Mortal Grief / Rage</li>
                </ul>
                <p>Other Sacrifice fragments are shown normally.</p>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
