<html>
<head>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/sidebar.css">
    <link rel="stylesheet" href="css/itemlist.css">

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
    <script src="https://unpkg.com/vue"></script>

    <script src="js/components.js"></script>
    <script src="js/config.js"></script>
    <script src="js/gamedata.js"></script>
    <script src="js/main.js"></script>
    <script src="js/style.js"></script>
    <script src="js/utils.js"></script>

    <title>poe.gg FilterCloud</title>
</head>
<body onload="FilterCloud.init();">
<div class="root">
<div class="page-root">
    <div class="header">
        <div class="bar">
            <div class="left"></div>
            <div class="right"></div>
        </div>
        <div class="title">
            <span>FilterCloud</span>
        </div>
    </div>
    <div class="page clearfix" id="page" v-cloak>
        <div class="sidebar">
            <div class="sidebar-box">
                <sidebarLink :current-page.sync="currentPage" page="Style"></sidebarLink>
                <hr>
                <sidebarLink
                   v-for="page in ['Endgame Rares', 'Leveling']" :key="page"
                   :current-page.sync="currentPage" :page="page"></sidebarLink>
                <hr>
                <sidebarLink
                   v-for="page in ['Crafting', 'Currency', 'Uniques', 'Divination Cards', 'Skill Gems', 'Sockets', 'Flasks', 'Jewels', 'Maps', 'Map Fragments', 'Special Items']"
                   :key="page" :current-page.sync="currentPage" :page="page"></sidebarLink>
            </div>
        </div>
        <div class="content">
            <div id="faq-page" v-show="currentPage === null">
                <h1>FAQ</h1>

                <h2>What does FilterCloud offer?</h2>
                <ul>
                    <li>A clean, tasteful and powerful loot filter</li>
                    <li>Customizable style and behaviour</li>
                    <li>Access your loot filter from anywhere</li>
                    <li>Rules based on market value from poe.ninja</li>
                    <li>Detailed leveling rules</li>
                </ul>

                <h2>How is this different from Neversink's FilterBlade?</h2>
                <p>Apart from technical features, FilterCloud follows a fundamentally different philosophy.
                    Neversink's filter tries to encode as much information as possible into the color scheme,
                    to ensure that you can make an educated decision to pick an item up or leave it.</p>
                <p>FilterCloud only shows you items that are worth picking up. The idea is that you should not have
                    to think about inventory management while you're killing stuff. If the filter shows it, you pick it
                    up.</p>
                <p>Its color scheme has three main levels of highlighting, plus one special style for super rare
                    items like Mirrors, and optionally a grey style for low-value currency items (in case you don't
                    want to hide them completely). This simplicity makes it super easy to learn what the colors and
                    styles mean.</p>

                <h2>Why are there separate files for Leveling and Endgame?</h2>
                <p>The leveling filter has rather complex rules about what items to show at what level, while the
                    endgame filter has complex rules for maps and rares. Combining both into one file would be
                    problematic for several reasons:</p>
                <ul>
                    <li>The rules would become even more complex because they would need to check against the item
                        level in every single rule.</li>
                    <li>The large leveling ruleset might cause performance issues on slower machines when running it
                        against the massive amounts of loot on endgame maps. Especially when it also includes the
                        endgame rules.</li>
                    <li>It would become a lot more error-prone and harder to maintain.</li>
                    <li>There is no strong need for combining them because you don't keep switching between
                        leveling and endgame that often.</li>
                </ul>
            </div>

            <div id="style-page" v-show="currentPage === 'Style'">
                <h1>Coming Soon</h1>
            </div>

            <div v-show="currentPage === 'Endgame Rares'">
                <checkboxWithTooltip id="show_fully_linked" v-model="config.rares.endgame.show_fully_linked" label="Show Fully Linked">
                    Show all fully linked rare boots, gloves and helmets, even if their basetype would normally be hidden.
                </checkboxWithTooltip>

                <itemList title="Highlighted" :items.sync="config.rares.endgame.highlight" item-style="highlight.rare"
                          item-rarity="rare" item-class="?">
                    Rare base types that are valuable in current meta.
                    Also includes best ring/amulet bases.
                </itemList>

                <itemList title="Shown" :items.sync="config.rares.endgame.show" item-style="normal.rare"
                          item-rarity="rare" item-class="?">
                    Off-meta base types that may still be valuable.
                </itemList>
            </div>

            <div v-show="currentPage === 'Crafting'">
                <checkboxWithTooltip id="crafting_highlight_ilvl84_atlas" v-model="config.crafting.atlas.ilvl84" label="Highlight ilvl84 Atlas bases">
                    Highlight map-only base types with item level 84+. Their high implicits make them especially valuable for crafting.
                </checkboxWithTooltip>
                <checkboxWithTooltip id="crafting_show_atlas" v-model="config.crafting.atlas.always" label="Always show Atlas bases">
                    Always show map-only base types, even at lower levels.
                </checkboxWithTooltip>
                <itemList title="Always Show" :items.sync="config.crafting.always" item-style="normal" item-rarity="normal">
                    These items are always shown, even in low level areas.
                </itemList>
                <itemList title="Item Level 84+" :items.sync="config.crafting.ilvl84" item-style="normal" item-rarity="normal">
                    These items are only shown if their item level is at least 84. At this item level, all possible affixes can roll on that item.
                </itemList>
                <itemList title="Chancing" :items.sync="config.crafting.chancing" item-style="normal" item-rarity="normal">
                    These items can be rolled into very valuable uniques with an Orb of Chance (and a shit ton of luck)
                </itemList>
            </div>

            <div v-show="currentPage === 'Currency'">
                <checkboxWithTooltip id="currency_hide_low_value" v-model="config.currency.hide_low_value" label="Hide Low Value">
                    Low value currency like scrolls, scraps and whetstones is not worth the time picking up.
                    You're better off maintaining a high clearspeed and buying those from other players if needed.
                    It can still make sense to pick them up if a lot of them are close together, like after a Breach,
                    or an Artisan's Strongbox.
                </checkboxWithTooltip>
                <checkboxWithTooltip id="currency_use_shaper_voice" v-mode="config.currency.use_shaper_voice" label="Shaper Voice">
                    Use Shaper voice pack to announce rare currency. Otherwise these will just use the sound
                    for strongly highlighted currency configured in the stylesheet.
                </checkboxWithTooltip>
                <itemList title="Ultra Rare" :items.sync="config.currency.ultra_rare" item-style="ultra_rare.currency" item-rarity="normal">
                    Once-in-a-lifetime kind of items. Find one of these, and you're settled for the league.
                </itemList>
                <itemList title="Strong Highlight" :items.sync="config.currency.strong_highlight" item-style="strong_highlight.currency" item-rarity="normal">
                    These are very valuable. If you see this highlighting, it's time to get excited!
                </itemList>
                <itemList title="Highlighted" :items.sync="config.currency.highlight" item-style="highlight.currency" item-rarity="normal">
                    These are valuable, and you should always pick them up.
                </itemList>
                <itemList title="Regular" :items="config.currency.normal" item-style="normal.currency" item-rarity="normal" read-only="true">
                    These are not very valuable, and it's perfectly ok to skip some of those if they're out of your way.
                </itemList>
                <itemList title="Low Value" :items.sync="config.currency.smaller" item-style="smaller.currency" item-rarity="normal">
                    These are usually not worth the time picking up. If you check the checkmark above, these will be
                    hidden completely.
                </itemList>
            </div>

        </div>
    </div>
</div>
</div>
</body>
</html>
