.item-list {
    position: relative;
}

.item-list .item-class-filter {
    position: absolute;
    right: 10px;
}

.item-preview {
    margin: 3px;
    padding: 2px 4px 2px 4px;
    white-space: nowrap;
    display: inline-block;
    font-family: FontinSmallcaps;
}

.item-preview .delete-button {
    position: relative;
    bottom: -10%;
    max-height: 80%;
    width: auto;
}