# ------------------------------------- [LEAGUE SPECIFIC] --------------------------------

#------------------------------------

# Metamorph
Show 
    Class "Metamorph Sample"
{{ style.highlight.breach }}

# Blight

{% if oils.top_tier %}
Show
    BaseType {{ oils.top_tier|names }}
{{ style.strong_highlight.breach }}
{% endif %}

{% if oils.valuable %}
Show
    BaseType {{ oils.valuable|names }}
{{ style.highlight.breach }}
{% endif %}

{% if oils.mediocre %}
Show
    BaseType {{ oils.mediocre|names }}
{{ style.normal.breach }}
{% endif %}

{% if oils.worthless %}
Show
    BaseType {{ oils.worthless|names }}
{{ style.smaller.breach }}
{% endif %}

{% if oils.hidden %}
Hide
    BaseType {{ oils.hidden|names }}
{{ style.hidden.breach }}
{% endif %}

# Any oils we missed
Show
    BaseType Oil
    Class "Stackable Currency"
{{ style.strong_highlight.breach|setstyle(background="0 0 0", border="255 0 255", textcolor="255 0 255") }}

# Blighted Maps
Show
    Class Maps
    Rarity Unique
    BlightedMap True
    MapTier > 10
{{ style.highlight.unique|setstyle(style.map.red)|setstyle(background="30 90 50") }}
Show
    Class Maps
    Rarity Rare
    BlightedMap True
    MapTier > 10
{{ style.highlight.rare|setstyle(style.map.red)|setstyle(background="30 90 50") }}
Show
    Class Maps
    Rarity Magic
    BlightedMap True
    MapTier > 10
{{ style.highlight.magic|setstyle(style.map.red)|setstyle(background="30 90 50") }}
Show
    Class Maps
    Rarity Normal
    BlightedMap True
    MapTier > 10
{{ style.highlight.normal|setstyle(style.map.red)|setstyle(background="30 90 50") }}

Show
    Class Maps
    Rarity Unique
    BlightedMap True
    MapTier > 5
{{ style.highlight.unique|setstyle(style.map.yellow)|setstyle(background="30 90 50") }}
Show
    Class Maps
    Rarity Rare
    BlightedMap True
    MapTier > 5
{{ style.highlight.rare|setstyle(style.map.yellow)|setstyle(background="30 90 50") }}
Show
    Class Maps
    Rarity Magic
    BlightedMap True
    MapTier > 5
{{ style.highlight.magic|setstyle(style.map.yellow)|setstyle(background="30 90 50") }}
Show
    Class Maps
    Rarity Normal
    BlightedMap True
    MapTier > 5
{{ style.highlight.normal|setstyle(style.map.yellow)|setstyle(background="30 90 50") }}

Show
    Class Maps
    Rarity Unique
    BlightedMap True
{{ style.highlight.unique|setstyle(style.map.white)|setstyle(background="30 90 50") }}
Show
    Class Maps
    Rarity Rare
    BlightedMap True
{{ style.highlight.rare|setstyle(style.map.white)|setstyle(background="30 90 50") }}
Show
    Class Maps
    Rarity Magic
    BlightedMap True
{{ style.highlight.magic|setstyle(style.map.white)|setstyle(background="30 90 50") }}
Show
    Class Maps
    Rarity Normal
    BlightedMap True
{{ style.highlight.normal|setstyle(style.map.white)|setstyle(background="30 90 50") }}



#------------------------------------
# Legion

# Emblems
Show
    BaseType Timeless
    BaseType Emblem
{{ style.strong_highlight.breach }}

# Splinters
Show
    BaseType Timeless
    BaseType Splinter
    Class "Stackable Currency"
{{ style.highlight.breach }}

# Incubators
{% if incubators.top_tier %}
Show
    BaseType {{ incubators.top_tier|names }}
{{ style.strong_highlight.breach }}
{% endif %}

{% if incubators.valuable %}
Show
    BaseType {{ incubators.valuable|names }}
{{ style.highlight.breach }}
{% endif %}

{% if incubators.mediocre %}
Show
    BaseType {{ incubators.mediocre|names }}
{{ style.normal.breach }}
{% endif %}

{% if incubators.worthless %}
Show
    BaseType {{ incubators.worthless|names }}
{{ style.smaller.breach }}
{% endif %}

{% if incubators.hidden %}
Hide
    BaseType {{ incubators.hidden|names }}
{{ style.hidden.breach }}
{% endif %}

# Any incubators we missed
Show
    Class Incubator
{{ style.strong_highlight.breach|setstyle(background="0 0 0", border="255 0 255", textcolor="255 0 255") }}


#------------------------------------
# Synthesis:

# Fractured Items
Show
    Rarity Normal
    FracturedItem True
{{ style.highlight.normal|butnot(background=False) }}
{{ style.highlight.breach|butonly(background=True) }}

Show
    Rarity Magic
    FracturedItem True
{{ style.highlight.magic|butnot(background=False) }}
{{ style.highlight.breach|butonly(background=True) }}

Show
    Rarity Rare
    FracturedItem True
{{ style.highlight.rare|butnot(background=False) }}
{{ style.highlight.breach|butonly(background=True) }}

# (Uniques will be handled by price matching)

#------------------------------------
# Delve:

# Fossils

{% if fossils.top_tier %}
Show
    BaseType {{ fossils.top_tier|names }}
{{ style.strong_highlight.breach }}
{% endif %}

{% if fossils.valuable %}
Show
    BaseType {{ fossils.valuable|names }}
{{ style.highlight.breach }}
{% endif %}

{% if fossils.mediocre %}
Show
    BaseType {{ fossils.mediocre|names }}
{{ style.normal.breach }}
{% endif %}

{% if fossils.worthless %}
Show
    BaseType {{ fossils.worthless|names }}
{{ style.smaller.breach }}
{% endif %}

{% if fossils.hidden %}
Hide
    BaseType {{ fossils.hidden|names }}
{{ style.hidden.breach }}
{% endif %}

# Any fossils we missed
Show
    BaseType Fossil
    Class Currency
{{ style.strong_highlight.breach|setstyle(background="0 0 0", border="255 0 255", textcolor="255 0 255") }}


# Resonators:

{% if resonators.top_tier %}
Show
    BaseType {{ resonators.top_tier|names }}
{{ style.strong_highlight.breach }}
{% endif %}

{% if resonators.valuable %}
Show
    BaseType {{ resonators.valuable|names }}
{{ style.highlight.breach }}
{% endif %}

{% if resonators.mediocre %}
Show
    BaseType {{ resonators.mediocre|names }}
{{ style.normal.breach }}
{% endif %}

{% if resonators.worthless %}
Show
    BaseType {{ resonators.worthless|names }}
{{ style.smaller.breach }}
{% endif %}

{% if resonators.hidden %}
Hide
    BaseType {{ resonators.hidden|names }}
{{ style.hidden.breach }}
{% endif %}

# Any resonators / other socketable currency we missed
Show
    Class "Socketable Currency"
{{ style.strong_highlight.breach|setstyle(background="0 0 0", border="255 0 255", textcolor="255 0 255") }}



# ------------------------------------------
# Incursion
Show
    Class "Incursion Item"
{{ style.quest }}

Show
    BaseType "Vial"
    Class "Stackable Currency"
{{ style.strong_highlight.currency }}


# Bestiary
Show
    BaseType "Strong Steel Net"
{{ style.normal.currency }}

Hide
    BaseType "Rope Net" "Iron Net" "Steel Net"
{{ style.normal.currency }}

Show
    BaseType "Thaumaturgical Net" "Necromancy Net"
{{ style.highlight.currency }}


# Harbinger
Show
	Class Piece
{{ style.ultra_rare.currency }}
	
# Leaguestones
Show 
    Rarity Normal 
    Class Leaguestone
{{ style.highlight.normal }}

Show
    Rarity Magic 
    Class Leaguestone
{{ style.highlight.magic }}
    
Show
    Rarity Rare 
    Class Leaguestone
{{ style.highlight.rare }}
	
Show
    Rarity Unique 
    Class Leaguestone
{{ style.highlight.unique }}
	

# Breachstones
Show
    BaseType Breachstone
{{ style.strong_highlight.breach }}

# Reliquary Keys
Show
    BaseType "Reliquary Key"
{{ style.ultra_rare.misc }}

# Warbands
Show 
    Rarity Magic 
    Identified True 
    Corrupted False
    Class Gloves Boots Helmets Daggers Wands Sceptres
{{ style.normal.magic }}	

# Talismans
Show 
    Rarity Normal
    BaseType Talisman
{{ style.highlight.normal }}
Show 
    Rarity Magic
    BaseType Talisman
{{ style.highlight.magic }}
Show
    Rarity Rare
    BaseType Talisman
{{ style.highlight.rare }}
Show 
    Rarity Unique
    BaseType Talisman
{{ style.highlight.unique }}
	
# Fishing Rod
Show 
    Class "Fishing Rod" 
{{ style.ultra_rare.fishing }}
	
# Labyrinth Items	
Show 
	BaseType "Treasure Key" "Golden Key" "Silver Key" "Bane of the Loyal" "Portal Shredder" "Rod of Detonation" "Sand of Eternity" "Heart of the Gargoyle" "Cube Of Absorption" "Cogs of Disruption"
	{{ style.quest }}

# Breach Splinters
Show
    BaseType "Splinter of"
{{ style.highlight.breach }}

Show 
    BaseType "Blessing of"
{{ style.strong_highlight.breach }}

# Strongly Highlight T7 Essences
Show
	BaseType "Deafening Essence of"
{{ style.ultra_rare.currency }}

# Decently highlight T6 and corruption-only essences
Show 
	BaseType "Shrieking Essence of" "Essence of Hysteria" "Essence of Insanity" "Essence of Horror" "Essence of Delirium" "Remnant of Corruption"
{{ style.strong_highlight.currency }}
	
# Highlight remaining essences
Show 
    BaseType "Essence of"
{{ style.highlight.currency }}

Show
    BaseType "Divine Vessel"
{{ style.strong_highlight.currency }}
	
# Quest Items
Show 
    Class Quest 
{{ style.quest }}
