# ------------------------------------- [LEAGUE SPECIFIC] --------------------------------

#------------------------------------
# Delve:

# Fossils

{% if fossils.top_tier %}
Show
    BaseType {{ fossils.top_tier|names }}
{{ style.strong_highlight.breach }}
{% endif %}

{% if fossils.valuable %}
Show
    BaseType {{ fossils.valuable|names }}
{{ style.highlight.breach }}
{% endif %}

{% if fossils.mediocre %}
Show
    BaseType {{ fossils.mediocre|names }}
{{ style.normal.breach }}
{% endif %}

{% if fossils.worthless %}
Show
    BaseType {{ fossils.worthless|names }}
{{ style.smaller.breach }}
{% endif %}

{% if fossils.hidden %}
Hide
    BaseType {{ fossils.hidden|names }}
{{ style.hidden.breach }}
{% endif %}

# Any fossils we missed
Show
    BaseType Fossil
    Class Currency
{{ style.strong_highlight.breach|setstyle(background="0 0 0", border="255 0 255", textcolor="255 0 255") }}


# Resonators:

{% if resonators.top_tier %}
Show
    BaseType {{ resonators.top_tier|names }}
{{ style.strong_highlight.breach }}
{% endif %}

{% if resonators.valuable %}
Show
    BaseType {{ resonators.valuable|names }}
{{ style.highlight.breach }}
{% endif %}

{% if resonators.mediocre %}
Show
    BaseType {{ resonators.mediocre|names }}
{{ style.normal.breach }}
{% endif %}

{% if resonators.worthless %}
Show
    BaseType {{ resonators.worthless|names }}
{{ style.smaller.breach }}
{% endif %}

{% if resonators.hidden %}
Hide
    BaseType {{ resonators.hidden|names }}
{{ style.hidden.breach }}
{% endif %}

# Any resonators / other socketable currency we missed
Show
    Class "Socketable Currency"
{{ style.strong_highlight.breach|setstyle(background="0 0 0", border="255 0 255", textcolor="255 0 255") }}



# ------------------------------------------
# Incursion
Show
    Class "Incursion Item"
{{ style.quest }}

Show
    BaseType "Vial"
    Class "Stackable Currency"
{{ style.strong_highlight.currency }}


# Bestiary
Show
    BaseType "Strong Steel Net"
{{ style.normal.currency }}

Hide
    BaseType "Rope Net" "Iron Net" "Steel Net"
{{ style.normal.currency }}

Show
    BaseType "Thaumaturgical Net" "Necromancy Net"
{{ style.highlight.currency }}


# Harbinger
Show
	Class Piece
{{ style.ultra_rare.currency }}
	
# Leaguestones
Show 
    Rarity Normal 
    Class Leaguestone
{{ style.highlight.normal }}

Show
    Rarity Magic 
    Class Leaguestone
{{ style.highlight.magic }}
    
Show
    Rarity Rare 
    Class Leaguestone
{{ style.highlight.rare }}
	
Show
    Rarity Unique 
    Class Leaguestone
{{ style.highlight.unique }}
	

# Breachstones
Show
    BaseType Breachstone
{{ style.strong_highlight.breach }}

# Reliquary Keys
Show
    BaseType "Reliquary Key"
{{ style.ultra_rare.misc }}

# Warbands
Show 
    Rarity Magic 
    Identified True 
    Corrupted False
    Class Gloves Boots Helmets Daggers Wands Sceptres
{{ style.normal.magic }}	

# Talismans
Show 
    Rarity Normal
    BaseType Talisman
{{ style.highlight.normal }}
Show 
    Rarity Magic
    BaseType Talisman
{{ style.highlight.magic }}
Show
    Rarity Rare
    BaseType Talisman
{{ style.highlight.rare }}
Show 
    Rarity Unique
    BaseType Talisman
{{ style.highlight.unique }}
	
# Fishing Rod
Show 
    Class "Fishing Rod" 
{{ style.ultra_rare.fishing }}
	
# Labyrinth Items	
Show 
	BaseType "Treasure Key" "Golden Key" "Silver Key" "Bane of the Loyal" "Portal Shredder" "Rod of Detonation" "Sand of Eternity" "Heart of the Gargoyle" "Cube Of Absorption" "Cogs of Disruption"
	{{ style.quest }}

# Breach Splinters
Show
    BaseType "Splinter of"
{{ style.highlight.breach }}

Show 
    BaseType "Blessing of"
{{ style.strong_highlight.breach }}

# Strongly Highlight T7 Essences
Show
	BaseType "Deafening Essence of"
{{ style.ultra_rare.currency }}

# Decently highlight T6 and corruption-only essences
Show 
	BaseType "Shrieking Essence of" "Essence of Hysteria" "Essence of Insanity" "Essence of Horror" "Essence of Delirium" "Remnant of Corruption"
{{ style.strong_highlight.currency }}
	
# Highlight remaining essences
Show 
    BaseType "Essence of"
{{ style.highlight.currency }}
	
# Silver Coins
Show
	BaseType "Silver Coin"
{{ style.highlight.currency }}

# Sealed Prophecies
Show
    BaseType Prophecy
    Class Currency
{{ style.strong_highlight.breach }}

# Perandus Coins
Show 
	BaseType "Perandus Coin"
	Class Currency 
{{ style.highlight.currency }}

Show
    BaseType "Divine Vessel"
{{ style.strong_highlight.currency }}
	
# Quest Items
Show 
    Class Quest 
{{ style.quest }}
